/* responsive for mobile */
@media screen and (max-width:425px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
    }

    .login-button {
        width: 100%;
    }
}

/* responsive for tablet */
@media screen and (max-width:768px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
    }

    .login-button {
        width: 100%;

    }
}

/* action part */
/* responsive for mobile */
@media (max-width: 414px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;

    }
}

/* responsive for tablet */

@media screen and (max-width:768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
}